.login{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1e9506;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: rgb(186, 192, 188);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline:none;
}

.loginButton{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #1e9506;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.loginForgot{
    text-align: center;
    color: gray;
}

.loginRegisterButton{
    width: 45%;
    align-self: center;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}